<header role="banner">
    <div class="header-wrapper">
      <div class="header-main">
        <button class="hamburger hamburger--elastic" type="button" aria-label="Mobile Menu"
          aria-controls="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="region region-header-branding">
          <div id="block-vlizbase-site-branding" class="block block-system block-system-branding-block">
            <a href="#" rel="home" title="">
              <svg xmlns="http://www.w3.org/2000/svg" width="187.046" height="118.179" class="logo"
                viewBox="0 0 187.046 118.179">
                <path
                  d="M159.1 105.113h24.877v13.066H133.2l28.105-46.29h-23.382V58.823h49.123zM110.365 58.823h15.43v59.356h-15.43zM83.915 58.823v46.29h18.5v13.066h-33.93V58.823ZM16.768 58.823l14.326 36.135 14.4-36.135h16.773l-25.033 59.356H24.955L0 58.823Z" />
                <path
                  d="M51.116 8c6.916.337 13.725 2.257 21.5 5.119 6.394 2.359 13.4 5.3 21.35 8.934 5.251 2.081 10.321 4.543 15.65 6.154a44.665 44.665 0 0 0 12.123 2.042 58.78 58.78 0 0 0 25.082-6.027 98.345 98.345 0 0 0 13.667-8.055 1.943 1.943 0 0 0-1.944-3.346 108.553 108.553 0 0 1-14.067 5.261c-7.385 2.159-14.829 3.214-22.058 2.208a37.771 37.771 0 0 1-9.222-2.53c-4.953-1.9-9.7-4.381-14.595-6.609a232.639 232.639 0 0 0-22.752-8.1C66.788.566 58.766-.489 50.946.214a56.424 56.424 0 0 0-23.558 7.752 91.835 91.835 0 0 0-6.218 3.922 2.072 2.072 0 0 0 1.92 3.644C32.609 11.7 44.356 7.678 51.116 8"
                  class="swoosh" />
                <path
                  d="M116.539 39.04c-3.81-.518-9.6-1.475-13.1-2.843a113.882 113.882 0 0 1-13.995-7.023c-3.136-1.758-6.252-3.541-9.456-5.148a66.763 66.763 0 0 0-6.755-2.994 52.928 52.928 0 0 0-11.1-2.755 55.785 55.785 0 0 0-16.632.8 96.753 96.753 0 0 0-20.124 7.048.356.356 0 0 0 .2.679c4.127-.694 12.035-1.949 16.7-2.208a78.475 78.475 0 0 1 9.467.056 53.908 53.908 0 0 1 9.085 1.319 62.082 62.082 0 0 1 9.447 2.984c2.125.8 4.259 1.612 6.394 2.462 3.287 1.309 6.579 2.638 9.9 3.9a90.849 90.849 0 0 0 15.767 4.757c4.3.791 10.961.254 14.859-.181 2.115-.44-.65-.86-.655-.86z"
                  class="swoosh" />
              </svg>
            </a>
          </div>
        </div>
        <div class="header-content">
          <div class="header-content-inner">
            <div class="region region-header-navigation-top">
              <nav role="navigation" aria-labelledby="block-servicenavigation-menu" id="block-servicenavigation">
                <h2 class="visually-hidden" id="block-servicenavigation-menu">
                  Service navigation</h2>
                  <!--
                <ul class="menu">
                  <li class="menu-item">
                    <a href="#contact" >Contact</a>
                  </li>
                  <li class="menu-item">
                    <a href="#events" data-drupal-link-system-path="events">Events</a>
                  </li>
                </ul>
                -->
              </nav>
              <div id="block-vlizsearchtriggericon" class="block block-vliz-helpers block-vliz-search-trigger">


                <a href="#" class="vliz-search-trigger"><i class="fa-solid fa-magnifying-glass"></i></a>
              </div>
            </div>

            <div class="region region-header-navigation">
              <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation">

                <h2 class="visually-hidden" id="block-mainnavigation-menu">Main
                  navigation</h2>
                <ul class="menu">
                  <li class="menu-item menu-item--collapsed">
                    <span data-doormat-target="doormat-block-hoofdnavigatie">Who are we</span>
                  </li>
                  <li class="menu-item menu-item--collapsed">
                    <span data-doormat-target="doormat-block-hoofdnavigatie-2">What do we do</span>
                  </li>
                  <li class="menu-item menu-item--collapsed">
                    <span data-doormat-target="doormat-block-hoofdnavigatie-3">Collaborations</span>
                  </li>
                  <li class="menu-item menu-item--collapsed">
                    <span data-doormat-target="doormat-block-hoofdnavigatie-4">Publications</span>
                  </li>
                  <li class="menu-item menu-item--collapsed">
                    <span class="highlight" data-doormat-target="doormat-block-hoofdnavigatie-5">Extra info</span>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="region region-header-doormat">
      <div id="block-hoofdnavigatie" class="block block-menu-block block-menu-blockmain block-doormat"
        data-doormat-id="doormat-block-hoofdnavigatie">
        <div class="doormat-inner">



          <ul class="menu">
            <li class="menu-item menu-item--expanded">
              <a href="/nl/wie-we-zijn/over-vliz" >Over VLIZ</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/over-vliz/missie-visie" >Missie
                    &amp;
                    Visie</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/over-vliz/onze-werking" >Onze
                    werking</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/staff" >Onze mensen</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/ethiek-en-waarden" >Ethiek en
                    waarden</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="https://www.vliz.be/nl/voor-wie">Voor wie</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/onderzoekers" >Onderzoekers</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/voor-wie/bedrijven" >Bedrijven</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/kennisvalorisatie/kennisvalorisatie-naar-beleid"
                    >Beleid</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/voor-wie/burgers-en-scholieren"
                    >Burgers en
                    scholieren</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/wie-we-zijn/hoe-ons-bereiken" >Waar vind je
                VLIZ?</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/hoe-ons-bereiken" >Hoe ons
                    bereiken?</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/contact" >Contact</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/wie-we-zijn/werken-bij-vliz" >Werken bij VLIZ</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/werken-bij-vliz/werken-bij-vliz"
                    >Wat betekent
                    werken bij VLIZ</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/jobs" >Onze
                    vacatures</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/werken-bij-vliz/stages"
                    >Stages</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/werken-bij-vliz/thesisbegeleiding"
                    >Thesisbegeleiding</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wie-we-zijn/werken-bij-vliz/jobstudenten"
                    >Jobstudenten</a>
                </li>
              </ul>

            </li>
          </ul>



        </div>
      </div>
      <div id="block-hoofdnavigatie-2" class="block block-menu-block block-menu-blockmain block-doormat"
        data-doormat-id="doormat-block-hoofdnavigatie-2">
        <div class="doormat-inner">



          <ul class="menu">
            <li class="menu-item menu-item--expanded">
              <a href="/nl/onderzoek" >Onderzoek</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/onderzoek/onderzoeksvisie"
                    >Onderzoeksvisie</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/onderzoek/ocean-health-and-human-health"
                    >Ocean Health
                    and human health</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/onderzoek/coastal-climate-change"
                    >Coastal
                    Climate Change</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/onderzoek/marine-observation-centre"
                    >Marine
                    Observation Centre</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wetenschapsprijzen" >Wetenschapsprijzen</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/data-informatie" >Data &amp;
                informatie</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/data-informatie/vliz-bibliotheek"
                    >Bibliotheek</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/data-informatie/data" >Data</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/data-informatie/it" >IT</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/wat-we-doen/aanbod-infrastructuur" >Aanbod
                infrastructuur</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/apparatuur" >Apparatuur</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/aanbod-infrastructuur/onderzoeksvaartuigen"
                    >Onderzoeksvaartuigen</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/aanbod-infrastructuur/robotica"
                    >Robotica</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/aanbod-infrastructuur/onderzoeksruimtes"
                    >Onderzoeksruimtes</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/aanbod-infrastructuur/wetenschappelijk-duiken"
                    >Wetenschappelijk
                    duiken</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/oceaangeletterdheid" >Oceaangeletterdheid</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/oceaangeletterdheid/educatie"
                    >Educatie</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/oceaangeletterdheid/publiek-informeren"
                    >Publiek
                    informeren</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/oceaangeletterdheid/burgerwetenschap"
                    >Burgerwetenschap</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/kennisvalorisatie" >Kennisvalorisatie</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/wat-we-doen/kennisvalorisatie/kennisvalorisatie-naar-beleid"
                    >Kennisvalorisatie
                    naar beleid</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/kennisvalorisatie-naar-de-blauwe-economie"
                    >Kennisvalorisatie
                    naar de Blauwe economie</a>
                </li>
              </ul>

            </li>
          </ul>



        </div>
      </div>
      <div id="block-hoofdnavigatie-3" class="block block-menu-block block-menu-blockmain block-doormat"
        data-doormat-id="doormat-block-hoofdnavigatie-3">
        <div class="doormat-inner">



          <ul class="menu">
            <li class="menu-item">
              <a href="/nl/samenwerkingen/onze-partners" >Onze partners</a>
            </li>
            <li class="menu-item">
              <a href="/nl/samenwerkingen/overeenkomsten" >Overeenkomsten</a>
            </li>
            <li class="menu-item">
              <a href="/nl/samenwerkingen/ocean-decade" >Ocean decade</a>
            </li>
            <li class="menu-item">
              <a href="/nl/samenwerkingen/mission-ocean" >Mission Ocean</a>
            </li>
          </ul>



        </div>
      </div>
      <div id="block-hoofdnavigatie-4" class="block block-menu-block block-menu-blockmain block-doormat"
        data-doormat-id="doormat-block-hoofdnavigatie-4">
        <div class="doormat-inner">



          <ul class="menu">
            <li class="menu-item menu-item--expanded">
              <span>Zee-info</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="https://www.vliz.be/testerep/" target="_blank">Testerep magazine</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/publications/type/grote_rede"
                    >De
                    Grote Rede</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/publications/type/zeekrant"
                    >De
                    Zeekrant</a>
                </li>
                <li class="menu-item">
                  <a href="http://compendiumkustenzee.be/nl/home-0">Compendium
                    voor kust en zee</a>
                </li>
                <li class="menu-item">
                  <a href="https://www.kustportaal.be/nl">Kustportaal</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/catalogus" >Catalogus</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/publications/type/boeken"
                    >Boeken
                    door VLIZ</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/publications/type/bins"
                    >BIN&#039;s
                    en rapporten</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/catalogus" >Catalogus</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/wetenschappelijke-publicaties"
                    >Wetenschappelijke
                    publicaties</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <span>Jaarboek</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/publicaties/jaarboek/jaarboek-2022" >Jaarboek
                    2022</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/voorgaande-jaarboeken" >Voorgaande
                    jaarboeken</a>
                </li>
              </ul>

            </li>
          </ul>



        </div>
      </div>
      <div id="block-hoofdnavigatie-6" class="block block-menu-block block-menu-blockmain block-doormat"
        data-doormat-id="doormat-block-hoofdnavigatie-6">
        <div class="doormat-inner">



          <ul class="menu">
            <li class="menu-item">
              <a href="https://www.vliz.be/nl/de-zee-als-goed-doel" title="De Zee als Goed Doel">De Zee als Goed
                Doel</a>
            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/steun-ons/hoe-jij-kan-helpen" >Hoe jij kan
                helpen</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/steun-ons/hoe-jij-kan-helpen/word-lid-van-het-vliz"
                    >Word lid van
                    het VLIZ</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/hoe-jij-kan-helpen/doneer-aan-de-zee-als-goed-doel"
                    >Doneer</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/hoe-jij-kan-helpen/schenking-legaat"
                    >Schenking
                    &amp; legaat</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/hoe-jij-kan-helpen/word-partner-van-het-vliz"
                    >Word partner
                    van het VLIZ</a>
                </li>
              </ul>

            </li>
            <li class="menu-item menu-item--expanded">
              <a href="/nl/steun-ons/realisaties" >Realisaties</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/brilliant-marine-research-idea-beurzen"
                    >Brilliant
                    Marine Research Idea beurzen</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/worms-editors"
                    >WoRMS-editors</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/ostend-working-group"
                    >Ostend
                    Working Group</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/bescherm-het-mariene-leven-chili"
                    >Bescherm het
                    mariene leven in Chili</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/reisbeurzen-voor-jonge-mariene-wetenschappers"
                    >Reisbeurzen
                    voor jonge mariene wetenschappers</a>
                </li>
                <li class="menu-item">
                  <a href="/nl/steun-ons/realisaties/jaarverslag-voor-schenkers"
                    >Jaarverslag
                    voor Schenkers</a>
                </li>
              </ul>

            </li>
            <li class="menu-item">
              <a href="https://shop.vliz.be/">Webshop</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  {% include navigation/search-overlay.html %}