<header role="banner">
  <div class="header-wrapper">
    <div class="header-main">
      <button class="hamburger hamburger--elastic" type="button" aria-label="Mobile Menu" aria-controls="navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="region region-header-branding">
        <div id="block-vlizbase-site-branding" class="block block-system block-system-branding-block">
          <a href=
          {% if site.base_url == "" %}
          "/"
          {% else %}
          "{{ site.base_url }}"
          {% endif %}
           rel="home" title="">
            <svg width="187.046" height="118.179" viewBox="0 0 52.916667 42.333335" version="1.1" id="svg5"
              inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)" sodipodi:docname="VLIZ_LOGO_OpSci.svg"
              xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
              xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
              xmlns:svg="http://www.w3.org/2000/svg">
              <sodipodi:namedview id="namedview7" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
                inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
                inkscape:document-units="mm" showgrid="false" fit-margin-top="0" fit-margin-left="0"
                fit-margin-right="0" fit-margin-bottom="0" units="px" width="200px" inkscape:zoom="0.75187991"
                inkscape:cx="315.87491" inkscape:cy="448.87487" inkscape:window-width="1920"
                inkscape:window-height="1016" inkscape:window-x="0" inkscape:window-y="27" inkscape:window-maximized="1"
                inkscape:current-layer="g885" />
              <defs id="defs2" />
              <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                transform="translate(-21.506029,-29.851269)">
                <g id="g885" transform="matrix(0.26458333,0,0,0.26458333,22.109203,29.851147)">
                  <g id="g20862" transform="translate(4.0000003,4)">
                    <path
                      d="m 159.1,105.113 h 24.877 v 13.066 H 133.2 l 28.105,-46.29 H 137.923 V 58.823 h 49.123 z m -48.735,-46.29 h 15.43 v 59.356 h -15.43 z m -26.45,0 v 46.29 h 18.5 v 13.066 H 68.485 V 58.823 Z m -67.147,0 14.326,36.135 14.4,-36.135 H 62.267 L 37.234,118.179 H 24.955 L 0,58.823 Z"
                      id="path2" style="fill:#354d9b;fill-opacity:1" />
                    <path
                      d="m 51.116,8 c 6.916,0.337 13.725,2.257 21.5,5.119 6.394,2.359 13.4,5.3 21.35,8.934 5.251,2.081 10.321,4.543 15.65,6.154 a 44.665,44.665 0 0 0 12.123,2.042 58.78,58.78 0 0 0 25.082,-6.027 98.345,98.345 0 0 0 13.667,-8.055 1.943,1.943 0 0 0 -1.944,-3.346 108.553,108.553 0 0 1 -14.067,5.261 c -7.385,2.159 -14.829,3.214 -22.058,2.208 a 37.771,37.771 0 0 1 -9.222,-2.53 c -4.953,-1.9 -9.7,-4.381 -14.595,-6.609 A 232.639,232.639 0 0 0 75.85,3.051 C 66.788,0.566 58.766,-0.489 50.946,0.214 a 56.424,56.424 0 0 0 -23.558,7.752 91.835,91.835 0 0 0 -6.218,3.922 2.072,2.072 0 0 0 1.92,3.644 C 32.609,11.7 44.356,7.678 51.116,8"
                      class="swoosh" id="path4" style="fill:#65c9cd;fill-opacity:1" />
                    <path
                      d="m 116.539,39.04 c -3.81,-0.518 -9.6,-1.475 -13.1,-2.843 A 113.882,113.882 0 0 1 89.444,29.174 c -3.136,-1.758 -6.252,-3.541 -9.456,-5.148 a 66.763,66.763 0 0 0 -6.755,-2.994 52.928,52.928 0 0 0 -11.1,-2.755 55.785,55.785 0 0 0 -16.632,0.8 96.753,96.753 0 0 0 -20.124,7.048 0.356,0.356 0 0 0 0.2,0.679 c 4.127,-0.694 12.035,-1.949 16.7,-2.208 a 78.475,78.475 0 0 1 9.467,0.056 53.908,53.908 0 0 1 9.085,1.319 62.082,62.082 0 0 1 9.447,2.984 c 2.125,0.8 4.259,1.612 6.394,2.462 3.287,1.309 6.579,2.638 9.9,3.9 a 90.849,90.849 0 0 0 15.767,4.757 c 4.3,0.791 10.961,0.254 14.859,-0.181 2.115,-0.44 -0.65,-0.86 -0.655,-0.86 z"
                      class="swoosh" id="path6" style="fill:#65c9cd;fill-opacity:1" />
                  </g>
                  <text xml:space="preserve"
                    style="font-style:normal;font-weight:normal;font-size:29.6246px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1"
                    x="0.085727908" y="149.49635" id="text4541">
                    <tspan sodipodi:role="line" id="tspan4539" x="15.085727908" y="149.49635"
                      style="fill:#65c9cd;fill-opacity:1;stroke-width:1">open science</tspan>
                  </text>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="header-content">
        <div class="header-content-inner">
          <div class="region region-header-navigation-top"></div>
          {% if site.data.navigation %}
          <div class="region region-header-navigation">
            <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation">
              <h2 class="visually-hidden" id="block-mainnavigation-menu">Main
                navigation</h2>
              <ul class="menu">
                {% for item in site.data.navigation %}
                {% if item.items %}
                <li class="menu-item menu-item--collapsed">
                  <a {% if item.highlight %}class="highlight" {% endif %} href="{{ item.url }}"
                    data-doormat-target="doormat-block-hoofdnavigatie{% if forloop.index != 1 %}-{{ forloop.index }}{% endif %}">{{
                    item.title }}</a>
                </li>
                {% else %}
                <li class="menu-item">
                  <a {% if item.highlight %}class="highlight" {% endif %} href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="region region-header-doormat">
    {% if site.data.navigation %}
    {% for item in site.data.navigation %}
    <div id="block-hoofdnavigatie{% if forloop.index != 1 %}-{{ forloop.index }}{% endif %}"
      class="block block-menu-block block-menu-blockmain block-doormat"
      data-doormat-id="doormat-block-hoofdnavigatie{% if forloop.index != 1 %}-{{ forloop.index }}{% endif %}">
      <div class="doormat-inner">
        <ul class="menu">
          {% for subitem in item.items %}
          {% if item.items.size > 4 %}

          <li class="menu-item menu-item--expanded">
            <a 
              href="{{subitem.url}}"
              {% if subitem.url contains "http://" or "https://" %}
              target="blank"
              {% endif %}
            >{{subitem.title}}
            </a>
            {% if subitem.items %}
            <ul class="menu">
              {% for subsubitem in subitem.items %}
              <li class="menu-item">
                <a 
                  href="{{subsubitem.url}}"
                  {% if subsubitem.url contains "http://" or "https://" %}
                  target="blank"
                  {% endif %}
                >{{subsubitem.title}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% else %}
          {% assign width = 100 | divided_by: item.items.size %}
          <li class="menu-item menu-item--expanded" style="width:{{width}}%">
            <a 
              href="{{subitem.url}}"
              {% if subitem.url contains "http://" or "https://" %}
              target="blank"
              {% endif %}
            >{{subitem.title}}</a>
            {% if subitem.items %}
            <ul class="menu">
              {% for subsubitem in subitem.items %}
              <li class="menu-item">
                <a 
                  href="{{subsubitem.url}}"
                  {% if subsubitem.url contains "http://" or "https://" %}
                  target="blank"
                  {% endif %}
                >{{subsubitem.title}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</header>
{% include navigation/search-overlay.html %}