<section class="main-container-above">
    <div class="region region-content-above">
      <div id="block-vlizsearch" class="block block-vliz-helpers block-vliz-search-block">


        <a href="#" class="close-search-overlay"></a>
        <div class="vliz-search-form-wrapper">
          <div class="vliz-search-form-wrapper-form">
            <form class="vliz-search-form antibot" data-drupal-selector="vliz-search-form" data-action="/nl/search"
              action="/antibot" method="get" id="vliz-search-form" accept-charset="UTF-8">
              <noscript>
                <div class="antibot-no-js antibot-message antibot-message-warning">
                  JavaScript moet ingeschakeld zijn om dit formulier te kunnen
                  gebruiken.</div>
              </noscript>
              <div
                class="js-form-item form-item js-form-type-search form-item-query js-form-item-query form-no-label">
                <label for="edit-query" class="visually-hidden">Zoeken</label>
                <input title="Type what you are looking for" data-drupal-selector="edit-query" type="search"
                  id="edit-query" name="query" value="" size="15" maxlength="128"
                  placeholder="Type what you are looking for" class="form-search" />
              </div>
              <input data-drupal-selector="edit-antibot-key" type="hidden" name="antibot_key" value="" />
              <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                id="edit-actions"><a href="#" class="vliz-search-submit"><i
                    class="fa-solid fa-magnifying-glass"></i></a><input data-drupal-selector="edit-submit"
                  type="submit" id="edit-submit" value="Zoeken" class="button js-form-submit form-submit" />
              </div>
            </form>
          </div>
          <div class="vliz-search-form-body">
            <p>Ben je op zoek naar personen of publicaties?<br />
              Klik dan door naar onze databank <a href="https://www.vliz.be/nl/imis"><strong>IMIS</strong></a>.</p>

            <p><a class="more-link" href="https://www.vliz.be/nl/imis">Ga naar IMIS</a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="region region-breadcrumb">
      <div data-drupal-messages-fallback class="hidden"></div>

    </div>

  </section>