{% if include.banner %}
  <div class="col-12 field__item">
    <div class="paragraph paragraph--type--from-library paragraph--view-mode--default">
      {% include banner/banner.html banner=include.banner %}
      <div class="field field--name-paragraphs field--type-entity-reference-revisions field--label-hidden">
        <div>
          <div class="field__item">
            <div class="paragraph paragraph--type--container paragraph--view-mode--default">
              <div class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">
                <div class="row field__items">
                    {% comment %} Group in rows of 3 columns, distribute remaining over last row {% endcomment %} 
                    {% assign cols = 3 %}
                    {% assign total=include.banner.topics | size %}
                    {% assign remaininglast=total | minus:1 | modulo: cols | plus: 1 %}
                    {% for topic in include.banner.topics %}
                      {% assign inlastrow=total | minus: forloop.index | minus: remaininglast %}
                      {% if inlastrow < 0 %}
                        {% assign cols = remaininglast %}
                      {% endif %}
                      {% assign colw = 12 | divided_by: cols %}
                      {% include banner/topic.html colw=colw topic=topic  %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}