{%- comment %}
Usage:
    {% include presentation/google-slides.html
        document_id="«lengty google document identifier from URL»"  
        width="«optional: width in px»"
        height="«optional: height in px»"
        delayms="«optional: slide transition in milliseconds»"
    %}
------------------------------------------------------------------------------
{% endcomment -%}

{%- assign w=include.width  | default: 480 %}
{%- assign h=include.height | default: 299 %}
{%- assign d=include.delayms| default: 3000 %}

{%- if include.document_id %}
<div class="presentation-content" style="width: {{ w| plus: 12 }}px; height: {{ h | plus: 12 }}px;">
  <iframe style="width: {{w}}px" 
    src="https://docs.google.com/presentation/d/e/{{ include.document_id }}/embed?start=false&loop=true&delayms={{d}}" 
    frameborder="0" width="{{w}}" height="{{h}}" 
    allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
{%- endif %}