<div class="col-12 field__item">
  <div class="pb-6 pt-4 paragraph paragraph--type--container paragraph--view-mode--default">
    <div
      class="field field--name-field-paragraph-container-items field--type-entity-reference-revisions field--label-hidden">
      <div class="row field__items">
        <div class="col-12 field__item">
          <div class="paragraph paragraph--type--block paragraph--view-mode--default">
            <div class="field field--name-field-block field--type-block-field field--label-hidden field__items">
              <div class="views-element-container block block-views block-views-blocknews-news-promoted"
                id="block-views-block-news-news-promoted">
                <h2>{{ include.data.title }}</h2>
                <div>
                  <div class="view-news-promoted view view-news view-id-news view-display-id-news_promoted js-view-dom-id-7833dfaeee25c3f8b6282f714fe453ff553a6e540616d19c0fc830a81d0e4c44">
                    <div class="view-content">
                    {% for card in include.data.items %}
                      {% include no_block_gallery_cards/card.html card=card %}
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>