---
layout: default
show_sidebar: false
---

{% assign data=site.data.[page.participant-type] %}
    <div class="columns is-multiline">
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ data.actionname }}</span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <div class="icon callout-icon">
                        <i class="fas {{ data.icon }} fa-4x"></i>
                    </div>
                    <div class="content">
                        <a href="{{ data.actionlink | relative_url }}" class="button is-primary" target="_blank">{{ data.actiondescr }}</a>
                    </div>
                    <figure class="image {{ sponsor.logo_ratio | default: is-16by9 }}">
                        <img src={{ sponsor.logo | relative_url }}>
                    </figure>
                </div>
            </div>
        </div>
        
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ data.participant-type }}</span>
            </p> 
            <div class="columns is-multiline is-centered">           
                {% for participant in data.participant-list %}
                <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                    <div class="box has-text-centered">
                        <p class="title {% if tier.size == 'large' %} is-3 {% elsif tier.size == 'small' %} is-5 {% else %} is-4 {% endif %}">
                            <img src={{ participant.logo | relative_url }}>
                        </p>
                        <p class="title {% if tier.size == 'large' %} is-3 {% elsif tier.size == 'small' %} is-5 {% else %} is-4 {% endif %}">
                            {{ participant.name }}
                        </p>
                        <p class="subtitle {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            {{ participant.affiliation }}
                        </p>
                        {% if participant.mail %}
                        <p class=" {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            <a href="mailto:{{ participant.mail }}" class="is-link is-small" target="_blank">Contact</a>
                        </p> 
                        {% endif %}
                            
                        {% if participant.site %}
                        <p class=" {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">   
                            <a href="{{ participant.site }}" class="is-link is-small" target="_blank">Website</a>
                        </p>               
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "name": "{{ page.title }}",
       
        {% if data.participant-type == 'Members' %}
        "member": [
            {%- for participant in data.participant-list -%}
            {
            "@type": "Person",
            "name": "{{ participant.name }}",
            "organization": "{{ participant.affiliation }}",
            "email": "{{ participant.mail }}",
            },
            {%- endfor -%}
        ]      
        {% endif %}
        {% if data.participant-type == 'Partners' %}
        "member": [
            {%- for participant in data.participant-list -%}
            {
            "@type": "Organization",
            "name": "{{ participant.name | jsonify }}",
            "mainEntityOfPage": "{{ participant.site }}",
            "email": "{{ participant.mail }}",
            },
            {%- endfor -%}
        ]  
        {% endif %}
    }
    </script>