---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">
    <div class="column is-12">
        <p class="title is-3 has-text-centered">
            <span>Interested party?</span>
        </p>
        <div class="columns is-centered">
            <div class="column is-6 content has-text-centered">
                <div class="icon callout-icon">
                    <i class="fas fa-handshake fa-4x"></i>
                </div>
                <div class="content">
                    <a href="mailto:info@readthelod.org" class="button is-primary" target="_blank">Let us know!</a>
                </div>
                <br>
            </div>
        </div>
    </div>
    
    <div class="column is-12">
        <p class="title is-3 has-text-centered">
            <span>Partners</span>
        </p> 
        <div class="columns is-multiline is-centered">           
            {% for partner in site.data.partners %}
            <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}">
                <div class="box has-text-centered">
                    <p class="title {% if tier.size == 'large' %} is-3 {% elsif tier.size == 'small' %} is-5 {% else %} is-4 {% endif %}">
                        <img src={{ partner.logo | relative_url }}>
                    </p>
                    <p class="title {% if tier.size == 'large' %} is-3 {% elsif tier.size == 'small' %} is-5 {% else %} is-4 {% endif %}">
                        {{ partner.name }}
                    </p>
                    <p class="subtitle {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                        {{ partner.affiliation }}
                    </p>
                    {% if partner.mail %}
                    <p class=" {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                        <a href="mailto:{{ partner.mail }}" class="is-link is-small" target="_blank">Contact</a>
                    </p> 
                    {% endif %}
                        
                    {% if partner.site %}
                    <p class=" {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">   
                        <a href="{{ partner.site }}" class="is-link is-small" target="_blank">Homepage</a>
                    </p>               
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "@id": "https://readthelod.github.io/partners/#partners",
        "name": "{{ page.title }}",
       
        "member": [
            {% for partner in site.data.partners %}
            {
            "@type": "Organization",
            "name": "{{ partner.name | jsonify }}",
            "mainEntityOfPage": "{{ partner.site }}",
            "email": "{{ partner.mail }}",
            },
            {%- endfor -%}
        ]  
    }
</script>