---
layout: default
---

{% assign allpapers = site.data.reading-list %}
{% assign todopapers = allpapers | where_exp: "paper", "paper.readingclub == nil" %} 
{% assign donepapers = allpapers | where_exp: "paper", "paper.readingclub != nil" %} 

<div class="columns is-multiline">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Authors</th>
            <th scope="col">Keywords</th>
            <th scope="col">Specifications</th>
            </tr>
        </thead>
        <tbody>
{% for paper in todopapers %}
        <tr>
            <th scope="row">{{forloop.index}}</th>
            <td><a href="{{paper.url }}" target="_blank">{{paper.title}}</a></td>
            <td>{{paper.authors}}</td>
            <td>{{paper.keywords}}</td>            
            <td>
                <ol>
                    {% for spec in paper.specifications %}
                    <li><a href="{{spec.url }}" target="_blank">{{spec.title}}</a></li>
                    {% endfor %}
                </ol> 
            </td>            
        </tr>
{% endfor %}
        </tbody>
    </table>

    <div class="column is-12">
        <p class="title is-4">
            <span>:	💭 Interesting papers to add?</span>
        </p>
        <div class="columns">
            <div class="column is-6 content">
                <div class="content">
                    <a href="https://github.com/readthelod/readthelod.github.io/blob/main/_data/reading-list.yml" class="button is-primary" target="_blank">Add them to reading-list.yml</a>
                </div>
                <figure class="image {{ sponsor.logo_ratio | default: is-16by9 }}">
                    <img src={{ sponsor.logo | relative_url }}>
                </figure>
            </div>
        </div>
    </div>

</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Collection",
        "@id": "https://readthelod.org/readinglist/#reading-list",
        "name": "{{ page.title }}",
        "collectionSize": "{{ allpapers | size }}",
        "hasPart": [
{%- for article in allpapers -%}
            {
            "@type": "ScholarlyArticle",
            "name": "{{ article.authors }}",
            "url": "{{ article.url }}",
    {%- if article.keywords -%}
            "keywords": "{{ article.keywords }}",
    {%- endif -%}
            },
{%- endfor -%}
        ]      
   
    }
    </script>
